.content
  .content__body
    %h2.content__body__title ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .content__body__details  
        .field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password"
        .actions
          = f.submit "ログイン"
    .content__body__sign-up
      アカウントをお持ちでない方はこちら
      .content__body__sign-up__button
        = link_to '新規会員登録', new_user_registration_path