.top-page__head
  .top-page__head__box
    .top-page__head__box__amount
      月目標 
      = @taget_amount
      円
    .top-page__head__box__current
      現在の金額
      = @current_amount 
      円
    .top-page__head__box__remaining
      残り使える金額 
      = @target_amount - @current_amount
      円

.top-page__categories
  .top-page__categories__titile
    カテゴリー別
  .top-page__categories__list
  - @categories.each do |category|
    .top-page__categories__list__box
      .top-page__categories__list__box__name
        = caategory.name
      .top-page__categories__list__box__amount
        目標 
        = category.target_amount
      .top-page__categories__list__box__total-price
        現在 5,000円
    
    
.top-page__items
  .top-page__items__titile
    購入品一覧
  .top-page__items__list
  - @items.each do |item|
    .top-page__items__list__box
      .top-page__items__list__box__name
        = item.name
      .top-page__items__list__box__date
        = item.created_at
      .top-page__items__list__box__price
        = item.price
        円
    
  