.items-page__left-bar
  %ul.items-page__left-bar__categories
    %li
      = link_to("書籍","#",class:"items-page__left-bar__categories__category")
    %li
      = link_to("書籍","#",class:"items-page__left-bar__categories__category")
    %li
      = link_to("書籍","#",class:"items-page__left-bar__categories__category")
    %li
      = link_to("書籍","#",class:"items-page__left-bar__categories__category")
    %li
      = link_to("書籍","#",class:"items-page__left-bar__categories__category")

.items-page__main
  %h2.items-page__main__title 新着購入品
  .items-page__main__list
  - @items.each do |item|
    .items-page__main__list__box
      .items-page__main__list__box__date
        = item.created_at
      .items-page__main__list__box__name
        = item.name
      .items-page__main__list__box__category
        書籍
      .items-page__main__list__box__price
        = item.price
        円
      .items-pafe__main__list__box__text
        = item.text
    