.content
  .content__body
    %h2.content__body__title 購入品情報変更
    = form_for @item do |f|
      .content__body__details
        .field
          = f.label :購入日
          %br/
          .field__date
            = f.date_select :year,[["2020",2020],["2021",2021],["2022",2022],["2023",2023],["2024",2024],["2025",2025],["2026",2026],["2027",2027],["2028",2028],["2029",2029]]
            %span 年
            = f.date_select :month,[["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]]
            %span 月
            = f.date_select :day,[["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12],["13",13],["14",14],["15",15],["16",16],["17",17],["18",18],["19",19],["20",20],["21",21],["22",22],["23",23],["24",24],["25",25],["26",26],["27",27],["28",28],["29",29],["30",30],["31",31]]
            %span 日
        .field
          = f.label :購入品名
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          = f.label :カテゴリー
          %br/
          = f.collection_select :category_id, Category.all, :id, :name, include_blank: true, promt: "選択してください"
        .field__price
          = f.label :価格
          %br/
          = f.text_field :price, autofocus: true, autocomplete: "price"
          円
        .field
          = f.label :メモ
          %br/
          = f.text_area :text, autofocus: true, autocomplete: "text", class: "content__body__details__text"
        .actions
          = f.submit "変更する"