.content
  .content__body
    %h2.content__body__title 購入品登録
    = form_with url: categories_path, method: :post do |f|
      .content__body__details
        .field
          = f.label :購入品名
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          = f.label :価格
          %br/
          = f.text_field :price, autofocus: true, autocomplete: "price"
        .field
          = f.label :メモ
          %br/
          = f.text_field :text, autofocus: true, autocomplete: "text"
        .actions
          = f.submit "登録する"
  