.header
  = render "home/header"

.items-page 
  .items-page__left-bar
    %ul.items-page__left-bar__categories
    - @categories.each do |category|
      %li
        = link_to(category.name, category_path(category.id), class:"items-page__left-bar__categories__category")
      

  .items-page__main
    .items-page__main__top-box
      .items-page__main__top-box__top
        %h2.items-page__main__top-box__top__title 
          = @category.name
        .items-page__main__top-box__top__button
          .items-page__main__top-box__top__button__edit
            = link_to edit_category_path do
              = icon('fas', 'edit')
          .items-page__main__top-box__top__button__destroy
            = link_to category_path, method: :delete do
              = icon('fas', 'trash-alt')
      .items-page__main__top-box__details
        .items-page__main__top-box__details__amount
          月目標
          = @category.target_amount
          円
        .items-page__main__top-box__details__current
          - if @category_current_amount
            現在 
            = @category_current_amount
            円
          - else
            現在 0 円

    .items-page__main__list
    - @items.each do |item|
      .items-page__main__list__box
        .items-page__main__list__box__top-box
          .items-page__main__list__box__top-box__date
            = item.created_at.strftime('%Y/%m/%d')
        .items-page__main__list__box__name
          = item.name
        .items-page__main__list__box__price
          = item.price
          円
        .items-pafe__main__list__box__text
          = item.text

.footer-btn
  = render "home/footer-btn"