.header
  = render "home/header"
.content
  .content__body
    %h2.content__body__title 目標月間支出額の登録
    = form_for(@target_amount, url: target_amounts_path, method: :post) do |f|
      = render "users/shared/error_messages", resource: @target_amount
      .content__body__details
        .field
          = f.label :一か月にいくらまで使う？
          %br/
          = f.text_field :price, autofocus: true, autocomplete: "price", class: "content__body__details__price"
          円
        .actions
          = f.submit "登録する"